# Environments
.env
.venv
mint-journeys-venv/
node_modules/

# javascript
node_modules/
dist/
out/


# editor
.prettierrc
pyproject.toml
.editorconfig
.ruff_cache


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# test
test.py

