# Environments
.env
.venv
mint_journeys_venv/
node_modules/

# javascript
node_modules/
dist/
out/
*.js

# editor
.prettierrc
pyproject.toml
.editorconfig


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
